<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoproject.mapper.ProjectMapper">

    <insert id="insertProject" parameterType="com.example.demoproject.entity.Project">
        insert into
            detect_request(id, project_name, leader_name, leader_phone, project_detail, longitude, latitude, detect_date, address, user_id)
        values
            (#{id}, #{projectName}, #{username}, #{telephone}, #{content}, #{lng}, #{lat}, #{date}, #{addr}, #{userId})
    </insert>

    <select id="selectProjectByPhone" resultType="com.example.demoproject.entity.Project">
        select
            project_name as projectName, project_detail as content, id, detect_date as date,
            longitude, latitude, data_status as dataStatus
        from
            detect_request
        where
            leader_phone = #{phone}
    </select>

    <delete id="deleteProjectById">
        delete
        from
            detect_request
        where
            id = #{id}
    </delete>

    <select id="selectAllProject" resultType="com.example.demoproject.entity.Project">
        select
            project_name as projectName, project_detail as content, id, detect_date as date, data_status as dataStatus
        from
            detect_request
    </select>

    <select id="selectProjectByUserId" resultType="com.example.demoproject.entity.Project">
        select
            project_name as projectName, project_detail as content, id, detect_date as date,
            longitude, latitude, data_status as dataStatus, user_id as userId
        from
            detect_request
        where
            user_id = #{userId}
    </select>

    <select id="selectProjectByStatus" resultType="com.example.demoproject.entity.Project">
        select
            project_name as projectName, project_detail as content, id, detect_date as date,
            longitude, latitude, data_status as dataStatus, user_id as userId
        from
            detect_request
        where
            data_status = #{dataStatus} and user_id = #{userId}
    </select>
</mapper>