<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoproject.mapper.ProjectMapper">

    <insert id="insertProject" parameterType="com.example.demoproject.entity.Project">
        insert into
            detect_request(project_name, leader_name, leader_phone, project_detail, longitude, latitude, uploader, detect_date, address)
        values
            (#{projectName}, #{username}, #{telephone}, #{content}, #{longitude}, #{latitude}, #{uploader}, #{date}, #{address})
    </insert>

    <select id="selectProjectByPhone" resultType="com.example.demoproject.entity.Project">
        select
            project_name as projectName, project_detail as content, id, detect_date as date,
            uploader, longitude, latitude, data_status as dataStatus
        from
            detect_request
        where
            leader_phone = #{phone}
    </select>

    <update id="updateImgById">
        update
            detect_request
        set
            uploader = #{uploader}
        where
            phone = #{phone}
    </update>

    <delete id="deleteProjectById">
        delete
        from
            detect_request
        where
            id = #{id}
    </delete>

    <select id="selectAllProject" resultType="com.example.demoproject.entity.Project">
        select
            project_name as projectName, project_detail as content, id, detect_date as date, data_status as dataStatus
        from
            detect_request
    </select>

    <select id="selectProjectImageById" resultType="string">
        select
            uploader
        from
            detect_request
        where
            id = #{id}
    </select>
</mapper>